h1 {text-align: center;color:SlateBlue; font-size:100px; font-family: sans-serif;}
h2 {color:DarkBlue; font-size:40px; font-family: sans-serif;}
h3 {color:MidnightBlue; font-size:30px; font-family: sans-serif;}
h4 {color:LightSkyBlue; font-size:20px; font-family: sans-serif;}
h5 {color:MediumTurquoise; font-size:20px; font-family: sans-serif;}
